<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test API</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>

<body>
    <h1>Welcome to test api </h1>

    <h3>This are the available endpoints</h3>

    <h3>User</h3>
    <p>To create account</p>
    <code> /user/create-account </code>

    <p>To sign in account</p>
    <code> /user/sign-in </code>

    <p>To get a user</p>
    <code> /user/getOne </code>

    <p>To update account</p>
    <code> /user/update </code>

    <p>To delete account</p>
    <code> /user/delete </code>

</body>

</html>